Repository ops0-mlops/ops0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ops0-mlops/core-team, @ops0-mlops/framework-team, @ops0-mlops/api-team, @ops0-mlops/storage-team, @ops0-mlops/runtime-team, @ops0-mlops/orchestration-team, @ops0-mlops/cloud-team, @ops0-mlops/devops-team, @ops0-mlops/aws-team, @ops0-mlops/gcp-team, @ops0-mlops/azure-team, @ops0-mlops/k8s-team, @ops0-mlops/observability-team, @ops0-mlops/dx-team, @ops0-mlops/cli-team, @ops0-mlops/ml-team, @ops0-mlops/sklearn-experts, @ops0-mlops/pytorch-experts, @ops0-mlops/tensorflow-experts, @ops0-mlops/hf-experts, @ops0-mlops/qa-team, @ops0-mlops/performance-team, @ops0-mlops/docs-team, @ops0-mlops/education-team, @ops0-mlops/ci-team, @ops0-mlops/packaging-team, @ops0-mlops/docker-team, @ops0-mlops/security-team, @ops0-mlops/legal-team, @ops0-mlops/community-team, @ops0-mlops/release-team

Fix missing newline at end of `.github/workflows/release.yml`.
  .github/workflows/release.yml
Owners: @ops0-mlops/core-team, @ops0-mlops/release-team, @ops0-mlops/devops-team

Add `process_bandit_report.py` to automate Bandit security scan report processing for GitHub Actions
  .github/scripts/process_bandit_report.py
Owners: @ops0-mlops/devops-team, @ops0-mlops/core-team

Fix missing newline at end of `.github/ISSUE_TEMPLATE/feature_request.yml` and `.github/codeql/codeql-config.yml`.
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codeql/codeql-config.yml
Owners: @ops0-mlops/community-team, @ops0-mlops/dx-team, @ops0-mlops/devops-team, @ops0-mlops/core-team

Refactor and enhance containerization:
  src/ops0/runtime/__init__.py
  src/ops0/runtime/cloud_adapters.py
  src/ops0/runtime/containers.py
  src/ops0/runtime/monitoring.py
  src/ops0/runtime/orchestrator.py
  src/ops0/runtime/scaling.py
  src/ops0/runtime/scheduler.py
  src/ops0/runtime/utils.py
Owners: @ops0-mlops/core-team, @ops0-mlops/framework-team

Add `utils` module with comprehensive utilities and enhance `storage.py`
  src/ops0/core/storage.py
  src/ops0/utils/README.md
  src/ops0/utils/__init__.py
  src/ops0/utils/caching.py
  src/ops0/utils/concurrency.py
  src/ops0/utils/config.py
  src/ops0/utils/filesystem.py
  src/ops0/utils/formatting.py
  src/ops0/utils/hashing.py
  src/ops0/utils/helpers.py
  src/ops0/utils/logging.py
  src/ops0/utils/network.py
  src/ops0/utils/retry.py
  src/ops0/utils/security.py
  src/ops0/utils/serialization.py
  src/ops0/utils/system.py
  src/ops0/utils/validation.py
  tests/unit/test_storage.py
Owners: @ops0-mlops/core-team, @ops0-mlops/framework-team, @ops0-mlops/docs-team

Add ML framework integrations module
  src/ops0/integrations/README.md
  src/ops0/integrations/__init__.py
  src/ops0/integrations/base.py
  src/ops0/integrations/example_pipeline.py
  src/ops0/integrations/hugginface_integration.py
  src/ops0/integrations/lightgbm_integration.py
  src/ops0/integrations/mlflow.py
  src/ops0/integrations/numpy_integration.py
  src/ops0/integrations/pandas.py
  src/ops0/integrations/pandas_integration.py
  src/ops0/integrations/pytorch.py
  src/ops0/integrations/pytorch_integration.py
  src/ops0/integrations/sklearn.py
  src/ops0/integrations/sklearn_integration.py
  src/ops0/integrations/tensorflow.py
  src/ops0/integrations/tensorflow_integration.py
  src/ops0/integrations/test_integration.py
  src/ops0/integrations/wandb.py
  src/ops0/integrations/xgboost_integration.py
Owners: @ops0-mlops/docs-team, @ops0-mlops/core-team, @ops0-mlops/ml-team

Add Kubernetes provider implementation
  src/ops0/cloud/__init__.py
  src/ops0/cloud/autoscaler.py
  src/ops0/cloud/aws.py
  src/ops0/cloud/azure.py
  src/ops0/cloud/base.py
  src/ops0/cloud/cost.py
  src/ops0/cloud/gcp.py
  src/ops0/cloud/kubernetes.py
  src/ops0/cloud/local.py
  src/ops0/cloud/monitor.py
  src/ops0/cloud/orchestrator.py
Owners: @ops0-mlops/cloud-team, @ops0-mlops/devops-team

Refactor `PipelineExecutor` for enhanced execution management and introduce advanced containerization features
  src/ops0/cloud/orchestrator.py
  src/ops0/core/executor.py
  src/ops0/runtime/containers.py
Owners: @ops0-mlops/cloud-team, @ops0-mlops/devops-team, @ops0-mlops/core-team, @ops0-mlops/framework-team

Refactor imports for consistency and add indentation fix in `FunctionAnalyzer` source code retrieval, introduce default values for registry entries, and add new dependencies in `requirements.txt`.
  requirements.txt
  src/ops0/__init__.py
  src/ops0/cli/commands.py
  src/ops0/cli/main.py
  src/ops0/cli/utils.py
  src/ops0/core/analyzer.py
  src/ops0/core/decorators.py
  src/ops0/core/registry.py
  src/ops0/core/storage.py
  src/ops0/core/validation.py
  src/ops0/integrations/base.py
  src/ops0/runtime/monitoring.py
  src/ops0/runtime/orchestrator.py
  test_deploy.py
Owners: @ops0-mlops/core-team, @ops0-mlops/packaging-team, @ops0-mlops/framework-team, @ops0-mlops/dx-team, @ops0-mlops/cli-team, @ops0-mlops/ml-team

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @ops0-mlops/devops-team, @ops0-mlops/core-team

Remove `ops0/cli/commands.py` as part of deprecating old CLI command implementations.
  src/ops0/cli/__init__.py
  src/ops0/cli/cli.py
  src/ops0/cli/commands.py
  src/ops0/cli/config.py
  src/ops0/cli/deploy.py
  src/ops0/cli/describe.py
  src/ops0/cli/doctor.py
  src/ops0/cli/init.py
  src/ops0/cli/list.py
  src/ops0/cli/logs.py
  src/ops0/cli/main.py
  src/ops0/cli/rollback.py
  src/ops0/cli/run.py
  src/ops0/cli/status.py
  src/ops0/cli/utils.py
Owners: @ops0-mlops/dx-team, @ops0-mlops/cli-team

.github/CODEOWNERS:

# Code Owners for ops0
#
# This file defines who should review PRs for different parts of the codebase.
# When someone opens a PR, GitHub will automatically request reviews from the code owners.
#
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# =============================================================================
# Global Owners - These people are owners of the entire repository
# =============================================================================

# Global fallback for all files not specifically owned
* @ops0-mlops/core-team

# =============================================================================
# Core Framework Components
# =============================================================================

# Core ops0 library
/src/ops0/ @ops0-mlops/core-team @ops0-mlops/framework-team

# Decorators and API design - critical changes that affect user experience
/src/ops0/decorators/ @ops0-mlops/core-team @ops0-mlops/api-team
/src/ops0/api/ @ops0-mlops/core-team @ops0-mlops/api-team

# Storage and data management
/src/ops0/storage/ @ops0-mlops/core-team @ops0-mlops/storage-team
/src/ops0/data/ @ops0-mlops/core-team @ops0-mlops/storage-team

# Execution engine and containers
/src/ops0/engine/ @ops0-mlops/core-team @ops0-mlops/runtime-team
/src/ops0/containers/ @ops0-mlops/core-team @ops0-mlops/runtime-team
/src/ops0/executor/ @ops0-mlops/core-team @ops0-mlops/runtime-team

# Pipeline orchestration and graph
/src/ops0/pipeline/ @ops0-mlops/core-team @ops0-mlops/orchestration-team
/src/ops0/graph/ @ops0-mlops/core-team @ops0-mlops/orchestration-team

# =============================================================================
# Cloud and Deployment
# =============================================================================

# Cloud deployment and infrastructure
/src/ops0/cloud/ @ops0-mlops/cloud-team @ops0-mlops/devops-team
/src/ops0/deploy/ @ops0-mlops/cloud-team @ops0-mlops/devops-team

# AWS specific code
/src/ops0/cloud/aws/ @ops0-mlops/cloud-team @ops0-mlops/aws-team

# Google Cloud specific code
/src/ops0/cloud/gcp/ @ops0-mlops/cloud-team @ops0-mlops/gcp-team

# Azure specific code
/src/ops0/cloud/azure/ @ops0-mlops/cloud-team @ops0-mlops/azure-team

# Kubernetes and container orchestration
/src/ops0/k8s/ @ops0-mlops/cloud-team @ops0-mlops/k8s-team

# =============================================================================
# Monitoring and Observability
# =============================================================================

# Monitoring, metrics, and observability
/src/ops0/monitoring/ @ops0-mlops/observability-team
/src/ops0/metrics/ @ops0-mlops/observability-team
/src/ops0/logging/ @ops0-mlops/observability-team

# =============================================================================
# Developer Experience
# =============================================================================

# CLI interface and commands
/src/ops0/cli/ @ops0-mlops/dx-team @ops0-mlops/cli-team

# Configuration and settings
/src/ops0/config/ @ops0-mlops/dx-team

# =============================================================================
# ML Framework Integrations
# =============================================================================

# Machine Learning framework integrations
/src/ops0/integrations/ @ops0-mlops/ml-team

# scikit-learn integration
/src/ops0/integrations/sklearn/ @ops0-mlops/ml-team @ops0-mlops/sklearn-experts

# PyTorch integration
/src/ops0/integrations/pytorch/ @ops0-mlops/ml-team @ops0-mlops/pytorch-experts

# TensorFlow integration
/src/ops0/integrations/tensorflow/ @ops0-mlops/ml-team @ops0-mlops/tensorflow-experts

# Hugging Face integration
/src/ops0/integrations/huggingface/ @ops0-mlops/ml-team @ops0-mlops/hf-experts

# =============================================================================
# Testing
# =============================================================================

# Unit tests
/tests/unit/ @ops0-mlops/core-team

# Integration tests
/tests/integration/ @ops0-mlops/qa-team @ops0-mlops/core-team

# Performance and benchmark tests
/tests/performance/ @ops0-mlops/performance-team @ops0-mlops/core-team
/tests/benchmarks/ @ops0-mlops/performance-team @ops0-mlops/core-team

# =============================================================================
# Documentation
# =============================================================================

# Main documentation
/docs/ @ops0-mlops/docs-team @ops0-mlops/dx-team

# API documentation
/docs/api/ @ops0-mlops/docs-team @ops0-mlops/api-team

# Tutorials and guides
/docs/tutorials/ @ops0-mlops/docs-team @ops0-mlops/education-team
/docs/guides/ @ops0-mlops/docs-team @ops0-mlops/education-team

# Examples and sample code
/examples/ @ops0-mlops/docs-team @ops0-mlops/education-team

# README files
README.md @ops0-mlops/docs-team @ops0-mlops/core-team
*/README.md @ops0-mlops/docs-team

# =============================================================================
# Build and CI/CD
# =============================================================================

# GitHub workflows and CI/CD
/.github/ @ops0-mlops/devops-team @ops0-mlops/core-team

# GitHub Actions workflows
/.github/workflows/ @ops0-mlops/devops-team @ops0-mlops/ci-team

# Package configuration
/pyproject.toml @ops0-mlops/core-team @ops0-mlops/packaging-team
/setup.py @ops0-mlops/core-team @ops0-mlops/packaging-team

# Docker files
Dockerfile @ops0-mlops/devops-team @ops0-mlops/docker-team
/docker/ @ops0-mlops/devops-team @ops0-mlops/docker-team
docker-compose*.yml @ops0-mlops/devops-team @ops0-mlops/docker-team

# =============================================================================
# Configuration Files
# =============================================================================

# Pre-commit hooks and code quality
/.pre-commit-config.yaml @ops0-mlops/core-team @ops0-mlops/dx-team
/pyproject.toml @ops0-mlops/core-team

# Git configuration
/.gitignore @ops0-mlops/core-team
/.gitattributes @ops0-mlops/core-team

# Environment and dependency files
requirements*.txt @ops0-mlops/core-team @ops0-mlops/packaging-team
/poetry.lock @ops0-mlops/core-team @ops0-mlops/packaging-team
/Pipfile* @ops0-mlops/core-team @ops0-mlops/packaging-team

# =============================================================================
# Security and Compliance
# =============================================================================

# Security policies and configurations
/.github/SECURITY.md @ops0-mlops/security-team @ops0-mlops/core-team
/SECURITY.md @ops0-mlops/security-team @ops0-mlops/core-team

# Dependabot configuration
/.github/dependabot.yml @ops0-mlops/security-team @ops0-mlops/devops-team

# =============================================================================
# Legal and Licensing
# =============================================================================

# License and legal files
/LICENSE @ops0-mlops/legal-team @ops0-mlops/core-team
/COPYRIGHT @ops0-mlops/legal-team @ops0-mlops/core-team

# =============================================================================
# Community and Open Source
# =============================================================================

# Contributing guidelines
/CONTRIBUTING.md @ops0-mlops/community-team @ops0-mlops/core-team

# Code of conduct
/CODE_OF_CONDUCT.md @ops0-mlops/community-team @ops0-mlops/core-team

# Changelog
/CHANGELOG.md @ops0-mlops/core-team @ops0-mlops/release-team

# Issue templates
/.github/ISSUE_TEMPLATE/ @ops0-mlops/community-team @ops0-mlops/dx-team

# Pull request templates
/.github/pull_request_template.md @ops0-mlops/community-team @ops0-mlops/dx-team

# =============================================================================
# Release and Versioning
# =============================================================================

# Version files
/src/ops0/__about__.py @ops0-mlops/core-team @ops0-mlops/release-team
/src/ops0/_version.py @ops0-mlops/core-team @ops0-mlops/release-team

# Release workflows
/.github/workflows/release.yml @ops0-mlops/core-team @ops0-mlops/release-team @ops0-mlops/devops-team

# =============================================================================
# Notes for Code Owners
# =============================================================================

# Team definitions (to be created in GitHub organization settings):
#
# @ops0-mlops/core-team          - Core maintainers with full access
# @ops0-mlops/framework-team     - Core framework developers
# @ops0-mlops/api-team          - API design and user experience
# @ops0-mlops/storage-team      - Data storage and persistence
# @ops0-mlops/runtime-team      - Execution engine and containers
# @ops0-mlops/orchestration-team - Pipeline orchestration
# @ops0-mlops/cloud-team        - Cloud deployment and infrastructure
# @ops0-mlops/aws-team          - AWS specific expertise
# @ops0-mlops/gcp-team          - Google Cloud expertise
# @ops0-mlops/azure-team        - Azure expertise
# @ops0-mlops/k8s-team          - Kubernetes expertise
# @ops0-mlops/observability-team - Monitoring and observability
# @ops0-mlops/dx-team           - Developer experience
# @ops0-mlops/cli-team          - Command line interface
# @ops0-mlops/ml-team           - Machine learning integrations
# @ops0-mlops/sklearn-experts   - scikit-learn experts
# @ops0-mlops/pytorch-experts   - PyTorch experts
# @ops0-mlops/tensorflow-experts - TensorFlow experts
# @ops0-mlops/hf-experts        - Hugging Face experts
# @ops0-mlops/qa-team           - Quality assurance and testing
# @ops0-mlops/performance-team  - Performance optimization
# @ops0-mlops/docs-team         - Documentation
# @ops0-mlops/education-team    - Educational content and examples
# @ops0-mlops/devops-team       - DevOps and CI/CD
# @ops0-mlops/ci-team           - CI/CD pipelines
# @ops0-mlops/packaging-team    - Package management
# @ops0-mlops/docker-team       - Docker and containerization
# @ops0-mlops/security-team     - Security and compliance
# @ops0-mlops/legal-team        - Legal and licensing
# @ops0-mlops/community-team    - Community management
# @ops0-mlops/release-team      - Release management
